* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VINERITC', sans-serif;

    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    line-height: 1.6;
    font-size: 1.1em;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2  {
    font-size: 2em;
    margin: 2em 0 1em;
    text-align: center;
}



h1 {
    font-family: 'SIMSUNB', sans-serif;

    font-size: 40rem;
   
    text-align: center;
    color:rgba(255, 255, 255, 1) ;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;  
    font-weight: bold;
    font-size: 20rem;
    font-family: 'VINERITC', sans-serif;
}

p {
    margin: 1em 0;
    text-align: justify;
}

.Ft {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   opacity: 0.8;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transform-origin: 0% 100%;
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out;
}

#SIGNATURE {
    width: 200px;
    height: 200px;
    background-color: white;
    align-self: center;
    border-radius: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-aone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo-hao {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}   

.cc-icon {
    width: 20px;
    height: 20px;
}

.close {

margin-left: 75%;



}